ipykernel
pandas
numpy
pymongo
python-dotenv
openai==1.97.1
requests==2.32.4
ipykernel
flask
flask-cors
matplotlib
opencv-python
pdf2image
timescale-vector
psycopg2-binary
langchain-community==0.3.0
pytesseract
google-genai